doctype html
html(lang="en")
  head
    title #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/public/stylesheets/app.css")
  body
    header
      a(id="logo" href="https://projectsbyif.com") Projects By IF
    div(id="homepage" class="content")
      h1 #{config.homepage_headline}
      div(id="intro")
        h2 #{config.homepage_subheading}
        p The General Data Protection Regulation affects the way services handle our data, security and privacy. 
        p We will have the right to challenge automated decision making, to correct data and even to have our data erased. Everyday activities, like shopping for groceries, could begin to change as they reflect these new rights. 
        p But this isn’t the first time something like this has happened. The cookie law didn’t give people more control over how companies tracked them online, it just created a new, low bar for compliance: the cookie banner.
        p Our job as designers is to look at these new rights and think about what services or tools they could enable. The following prototypes are tiny, mundane illustrations of what digital services could do next.
        a(href="/#{firstPage.permalink}" id="call_to_action") Explore our prototypes →
      div(id="contents")
        h2 Contents
        each page in pages
          div(class="item")
            h2
              a(href="/#{page.permalink}") #{page.title}
            p #{page.tagline}
