doctype html
html(lang="en")
  head
    title #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/js/jquery.js")
    script(type="text/javascript" src="/js/app.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/css/app.css")
  body
    a(id="skip_to_content" href="#content") Skip to content
    header
      a(id="logo" href="https://projectsbyif.com") Projects By IF
      a(id="link_contents" href="#contents") Contents
    div(id="homepage" class="content")
      h1 Designing for new digital rights
      div(id="intro")
        h2 #{config.homepage_subheading}
        p It gives people the right to challenge automated decisions, to restrict how personal data is used, and to move data from service to service.
        p As designers, our job is to look at these new rights and think about what they make possible. If we don’t, then it’s likely that these new rights will just disappear into the small print.
        p The following clickable prototypes are examples of what could come next.
        div(style="overflow: auto")
          p(id="call_to_action")
            a(style="border-bottom: 1px solid #ff5e23; color: #000; text-decoration: none;" href="/#{firstPage.permalink}") Explore the prototypes
        div(style="overflow: auto")
          p(id="show_contents")
            //a(href="#") Show contents

      div(class="contents-wrapper")
        h1 Contents
        ul(class="contents-list")
          for page in pages
            li
              a(href=page.permalink) #{page.title}
              p #{page.tagline}

    include ./includes/contents.jade
