doctype html
html(lang="en")
  head
    title #{page.title} &bull; #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/public/javascripts/moment.min.js")
    script(type="text/javascript" src="/public/javascripts/chart.min.js")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/jquery-ui.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    script(type="text/javascript" src="/public/javascripts/prototypes/#{page.permalink}.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/public/stylesheets/app.css")
  body
    div(class="prototype_header")
      a(href="/" id="logo-light")
      a(href="#" id="show_prototype_menu_mobile" class="prototype_menu_link") Show menu
      div(class="left")
        a(href="/") Digital Rights
      div(class="right")
        a(href="#" class="prototype_menu_link") Menu
    div(class="prototype_description")
      h1 #{page.title}
      p !{page.description}
    div(class="prototype_canvas")
      != renderTemplate(page.permalink)
    div(class="prototype_description")
      p "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris"
      if nextPage
        a(href="/#{nextPage.permalink}") Next: #{nextPage.title}
      else
        a(href="/") Back to homepage
    div(class="prototype_menu")
      a(href="#" id="hide_prototype_menu") Close
      div(class="item" class="mobile_only_item")
        p
          a(href="/") Home
      div(class="item" class="mobile_only_item")
        p
          a(href="/why") About
      each page in pages
        div(class="item")
          p
            a(href="/#{page.permalink}") #{page.title}
          p #{page.tagline}
    include footer.jade
