doctype html
html(lang="en")
  head
    title #{page.title} &bull; #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/public/js/jquery.js")
    script(type="text/javascript" src="/public/js/app.js")
    script(type="text/javascript" src="/public/js/prototypes/#{page.permalink}.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/public/css/app.css")
  body
    header
      a(id="logo" href="https://projectsbyif.com") Projects By IF
      a(id="title" href="/") #{config.site_name}
      a(id="title_mobile" href="/") RIGHTS
      a(id="link_contents" href="#contents") Contents
    div(class="prototype_description")
      h1 #{page.title}
      p !{page.top_text} 
      p 
    div(class="prototype_canvas")
      != renderTemplate(page.permalink)
  div(id="navigation")
    div(id="wrapper")
      div(id="previous")
          p
            if previousPage
              a(href="/#{previousPage.permalink}") 
                | < 
                span #{previousPage.title}
            else
              a(href="/") 
                | < 
                span Home
      div(id="count")
        p #{currentPage} of #{totalPages}
      div(id="next")
          p
            if nextPage
              a(href="/#{nextPage.permalink}")
                span #{nextPage.title} 
                | >
            else
              a(href="/") 
                span Home 
                | >          
  include ./includes/contents.jade
