doctype html
html(lang="en")
  head
    title #{page.title} &bull; #{config.site_name}
    meta(name="viewport" charset="utf-8" content="width=device-width" initial-scale="1.0")
    meta(name="description" content="#{config.site_description}")
    meta(property="og:url" content="")
    meta(property="og:title" content="")
    meta(property="og:description" content="")
    meta(property="og:image" content="")
    script(type="text/javascript" src="/public/javascripts/moment.min.js")
    script(type="text/javascript" src="/public/javascripts/chart.min.js")
    script(type="text/javascript" src="/public/javascripts/jquery.js")
    script(type="text/javascript" src="/public/javascripts/jquery-ui.js")
    script(type="text/javascript" src="/public/javascripts/app.js")
    script(type="text/javascript" src="/public/javascripts/prototypes/#{page.permalink}.js")
    link(rel="icon" id="favicon" href="")
    link(rel="apple-touch-icon-precomposed" href="")
    link(type="text/css" rel="stylesheet" href="/public/stylesheets/app.css")
  body
    header
      a(id="logo" href="https://projectsbyif.com") Projects By IF
      a(id="title" href="/") #{config.site_name}
      a(id="title_mobile" href="/") Rights
    div(class="prototype_description")
      h1 #{page.title}
      p !{page.top_text} 
    div(class="mobile_space")
    div(class="prototype_canvas")
      != renderTemplate(page.permalink)
  div(id="navigation")
    div(id="wrapper")
      div(id="previous")
          p
            if previousPage
              a(href="/#{previousPage.permalink}") < #{previousPage.title}
            else
              a(href="/") < Home
      div(id="count")
        p #{currentPage} of #{totalPages}
      div(id="next")
          p
            if nextPage
              a(href="/#{nextPage.permalink}") #{nextPage.title} >
            else
              a(href="/") Home >          
  div(id="navigation_mobile")
    div(id="wrapper")
      div(id="previous")
          p
            if previousPage
              a(href="/#{previousPage.permalink}") <
            else
              a(href="/") <
      div(id="count")
        p #{currentPage} of #{totalPages}
      div(id="next")
          p
            if nextPage
              a(href="/#{nextPage.permalink}") >
            else
              a(href="/") >
